* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --color-1: #484ca4;
    --color-2: #60AED2;
    --color-3: #484ca4;
    --color-4: beige;
}

body {
    width: 100%;
    height: 80%;
    margin-top: 0;
    padding: 0;
    align-content: center;
}

/*Navbar*/
nav {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}

h6 {
    color: #3999c6;
    text-transform: none;
    display: grid;
    margin-top: -30px;
    margin-left: 40px;
    text-align: center;
}

.div-menu {
    float: right;
    margin-top: -75px;
    margin-right: 35px;
}

ul {
    list-style: none;
    text-align: left;
}

li {
    display: inline-flex;
}

a {
    text-decoration: none;
    padding: 10px;
    
}

.img-header {
    width: 80px;
    height: 60px;
}

h4 {
    margin: 12px;
    color: #484ca4;
    padding: 5px 0 0 0;
}

#login {
    border-color: #c66639;
    border-radius: 5%;
    padding: 3%;
}

/*fim*/

/*container-pesquisa*/

.container-pesquisa {
    margin-top: 80px;
    margin-bottom: 80px;
}

#img-container-pesquisa {
    height: 250px;
    width: 200px;
    margin: 10px 10px 10px 90px;
    align-content: flex-end;
}

.card-body {
    background-image: url(Imagens/empresario-segurando-duas-pecas-de-quebra-cabeca.jpg);
    background-size: cover;
    background-position: center;
}

h3 {
    padding: 0 0 0 0;
    margin-right: 10px;
    text-align: center;
    color: black;
    margin-top: -20px;
}

#p-container {
    text-transform: uppercase;
    text-align: center !important;
    color: #484ca4
}

.card-header {
    background-color: var(--color-1);
}

.card-title {
    color: var(--color-2);
    text-decoration: solid white;
    font-size: xx-large;
}

.card-text {
    color: var(--color-2);
    font-size: medium;
    text-transform: uppercase;
}

.input-pesquisa {
    width: 50%;
    height: 5vh;
    margin-bottom: 10px;
    margin-top: 15px;
    text-align: center;
    border-radius: 10px;
    border-color: var(--color-1);
}

.btn-header {
    color: var(--color-4);
    background-color: var(--color-2);
    border-color: var(--color-1);
    border-radius: 10px;
    width: 10%;
    height: 5vh;
}

/*fim*/

/*container*/

.container-md {
    width: 100%;
    height: 10vh;
    margin-top: 20px;
    align-content: center;
}

.h3-cards {
    margin: 0 0 0 0;
}

.container-fluid {
    display: block;
    margin-top: 40px;
    text-align: 100px;
    color: var(--color-3);
}

.secao4 {
    height: auto;
    width: 100%;
    align-content: center;
    margin-top: 2px;
}

.secao4-div {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - 20px);
    margin: auto;
    align-items: stretch;
    padding: 10px;
    text-align: center;
    justify-content: center;
}

.secao4-div h3,
p {
    padding: 10px 0px 0px 0px !important;
    color: white;

}

.secao4-div img {
    width: 100%;
    height: auto;
}

.secao4-div-1,
.secao4-div-2,
.secao4-div-3 {
    display: flex;
    width: calc(100% / 3 - 60px);
    margin: 10px;
    padding: 20px;
    box-shadow: 2px 2px 16px 0px rgb(0 0 0 / 10%);
    border-radius: 15px;
    background-color: #484ca4;
    transition: all .5s ease;
    justify-content: center;
    height: auto;
}

.secao4-div-1:hover,
.secao4-div-2:hover,
.secao4-div-3:hover {
    transform: scale(1.1);
    z-index: 1;
}

/*mobile*/
@media (max-width: 768px) {

    .secao4-div-1,
    .secao4-div-2,
    .secao4-div-3 {
        width: 100%;
    }
}

/*footer*/

footer {
    width: 100%;
}

#footer_content {
    background-color: #484ca4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 3rem 3.5rem;
}

#footer_social_media {
    display: flex;
}

#footer_social_media .footer-link {
    display: flex;
    justify-content: center;
    border-radius: 50%;
    transition: all 0.6s;
}

#footer_social_media .footer-link:hover {
    opacity: 0.8;
}

#footer_social_media .footer-link i {
    font-size: 2.25rem;
}

.footer-list {
    display: flex;
    flex-direction: column;
}

footer p {
    color:#c66639;
}

.footer-list .footer-link {
    color: #c66639;
    transition: all 0.4s;
}

.footer-list .footer-link:hover {
    color: #484ca4;
}

#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: #60AED2;
    font-size: 100;
}

@media screen and (max-width: 768px) {
    #footer-content {
        grid-template-columns: repet(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (max-width: 426px) {
    #footer-content {
        grid-template-columns: repet(1, 1fr);
        padding: 3rem 2rem;
    }
}

/*fim*/