*{
    box-sizing: border-box;
  }
html,body{
    height: 100%;
}
p{
    margin: 0px;
}

:root {
  --color-1: #484ca4;
  --color-2: #60AED2;
  --color-3: #484ca4;
  --color-4: beige;
}

body {
    font-family: 'Arvo', serif;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    display: grid;
    grid-template-columns:  60% 40%;
  }
  .fundo-lado-esquerdo{
    background-color: #484ca4;
    height: 100%;
    width: 90%;
  }
  .lado-esquerdo-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:var(--color-4);
  }
  .lado-esquerdo-text h2{
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 40px;
  }
  .btn-header {
    margin-top: 30px;
    width: 50px;
    height: 30px;
    background-color: var(--color-1);
    text-align: center;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color:var(--color-4);
  }
  .btn-header a {
    color:var(--color-4);
    text-decoration: none;
    font-size: 13px;
  }
  .lado-esquerdo-text p{
    font-size: 15px;
  }

  .slideshow-container {
   padding: 30px;
    margin: auto;
  }
  .slideshow-container img{
    margin-left: 40px;
    height:450px;    
    width: 80%;
  }

  .mySlides {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mySlides .cap-text{
    text-align: center;
  }
  
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  .container {
    height: fit-content + 100px ;
    position: relative;
    right: 10px;
    width: 90%;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  
  /* Style the tab */
  .tabs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }
  
  /* Style the buttons inside the tab */
  .tabs p{
    padding: 1rem;
    cursor: pointer;
    border-right: solid 1px #60AED2;
    width:auto;
    text-align: center;
    
  }
  .tabs-p{
    height: 50px;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    
    cursor: pointer;
}
  .active{
    
    color: #fff;
    background-color: #484ca4;
    
}

  .tabs p{
    border: none;
  }
 
  /* Create an active/current tablink class */
  .tabs .active {
    
    background-color: #484ca4;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: flex;
       
    padding: 6px 12px;
    width: 100%;
    height: 100%;
    border-top: none;
    display: flex;
  }
  #Empresa{
    display: none;
  }
  form, .form{
   
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    align-items: center;
  }
  .form input{
    border: none;
    background-color: #f0f0f0;
    border-radius: 10px;
    height: 40px;
    padding: 10px;
    width: 70%;
    margin: 10px 0px;
  }
  .form .button{
    width: 70%;
    padding: 10px;
    background-color: #484ca4;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    text-align: center;
  }
  a{
    font-size: 14px;
    margin-top: 5px;
    text-decoration: none;
  }
  

